.stix{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sdasd{
    width: 297px;
    color: #0d6993;
}
body{
    background-color: rgb(0, 0, 0);
}
